# macOS
.DS_Store

# env / secrets
.env
.env.*
*.pem
*.key

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dependencies
**/node_modules/

# Next.js build artifacts
**/.next/
**/out/

# Hardhat / TypeChain artifacts
**/artifacts/
**/cache/
**/typechain-types/
**/coverage/
**/coverage.json
**/.openzeppelin/

# Hardhat Deploy artifacts
**/deployments/

# misc
*.log
